body {
  font-family: 'Montserrat', sans-serif;
  background: #d4f8d4;
  color: #2c2c2c;
}

.nav-logo{
  width: 50px;
}


#body {
  background: #fffbe6;
  border: 2px solid #2f2d2a;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 600px;
}


#output {
  background: #ffffff;
  border: 2px solid #2f2d2a;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  text-align: left;
  font-weight: 500;
  line-height: 1.6;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(173, 139, 115, 0.5);
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 5px 0;
}



